<%= form_for(definition) do |f| %>
  <% if definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(definition.errors.count, "error") %> prohibited this definition from being saved:</h2>

      <ul>
      <% definition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :word %>
    <%= f.text_field :word, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :definition %>
    <%= f.text_field :definition, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :originator %>
    <%= f.text_field :originator, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :use %>
    <%= f.text_field :use, class: 'form-control' %>
  </div>

  <div class="form-group actions">
    <%= f.submit %>
  </div>
<% end %>