<p id="notice"><%= notice %></p>

<div class="container">
  
  <%= link_to 'New Definition', new_definition_path %>
  
  <br/>

  <div class="dataTables_wrapper form-inline dt-bootstrap">
    <table id="definition-table" class="table table-bordered table-condesed table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>Word</th>
          <th>Definition</th>
          <th>Originator</th>
          <th>Use</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @definitions.each do |definition| %>
          <tr>
            <td><%= definition.word %></td>
            <td><%= definition.definition %></td>
            <td><%= definition.originator %></td>
            <td><%= definition.use %></td>
            <td><%= link_to 'Edit', edit_definition_path(definition), {class: 'no-sort' } %></td>
            <td><%= link_to 'X', definition, method: :delete, data: { class: 'no-sort', confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--
  <script>
    $(document).ready(function() {
      $('#definition-table').DataTable();
    });
  </script>
-->