<p id="notice"><%= notice %></p>

<div class="container">
  
  <%= link_to 'New Definition', new_definition_path, class: "btn btn-primary", id: "new-button"  %>
  
  <br/>
  <hr/>

  <div>
    <table id="definition-table" class="table table-bordered table-condesed table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>Word</th>
          <th>Definition</th>
          <th>Originator</th>
          <th>Use</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @definitions.each do |definition| %>
          <tr>
            <td><%= definition.word %></td>
            <td><%= definition.definition %></td>
            <td><%= definition.originator %></td>
            <td><%= definition.use %></td>
            <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
            <td><%= link_to 'X', definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#definition-table').DataTable({
      "pageLength": 25,
    });
  });
</script>


