<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Word:</strong>
    <%= @definition.word %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= @definition.definition %>
  </p>

  <p>
    <strong>Originator:</strong>
    <%= @definition.originator %>
  </p>

  <p>
    <strong>Use:</strong>
    <%= @definition.use %>
  </p>

  <%= link_to 'Edit', edit_definition_path(@definition) %> |
  <%= link_to 'Back', definitions_path %>
</div>